# Example requirements.txt:
Flask
werkzeug
Pillow
uuid
gunicorn
waitress
openai
psycopg2-binary

# CPU-only PyTorch for Python 3.11
torch==2.6.0+cpu -f https://download.pytorch.org/whl/cpu

# Whisper from GitHub
git+https://github.com/openai/whisper.git#egg=openai-whisper
